.arrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 40px;
  height: 40px;

  padding: 0;
  border: none;
  border-radius: 50%;

  background-color: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.arrow img {
  width: 24px;
  height: 24px;
}